<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"href="{%static '/css/Cal.css' %}">
</head>
<p id="datetime"></p>

<header>
    <div class="logo-box">
        <img alt= "Logo" src= "{%static '/css/Logo2.png'%}" width="157" height="132">
        <h1>Tax Calculator</h1>
    </div>
</header>
<body>
 
    <div class="container my-5">
        {% block content %}{% endblock %}
    </div>   
    </body>
</html>

<script>
    var now = new Date();
    var datetimeString = now.toLocaleString();
    
    document.getElementById('datetime').textContent = datetimeString;

    setInterval(function() {
    var now = new Date();
    var datetimeString = now.toLocaleString();
    document.getElementById('datetime').textContent = datetimeString;
    }, 1000);
    </script>