{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    
    
    
    <!-- <label for="own">Do you own a house:</label>
    <input type="checkbox" name="own" value="True"> -->
    <br>
    <label for="interest_taxes">Total interest paid:</label><p> Enter the total projected amount of    
      home mortgage interest and points.</p>
    <input type="float" name="interest_taxes" required>
    <br>
    
    
    <div class ="button_container">
      <button onclick="window.location.href='{% url 'education_view' %}'">Back</button>
      <button type="next">Next</button>
    </div>
  </form>
{% endblock %}
