{% extends 'base.html' %}
{% load static %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    
    <p>Enter your projected total gross income, or if you already have have a 
      W4 you can enter the amount on field #1
      If you have more that one W4 please enter add the amounts, and enter the total combined.
    </p>
    <label for="gross_income">Total gross income:</label>
    <input type="float" name="gross_income" required>
    <br>
    <div class ="button_container">
      <button onclick="window.location.href='{% url 'demographics_view' %}'">Back</button>
      <button type="next">Next</button>
    </div>
    
  </form>
  
{% endblock %}
